.header {
  background: linear-gradient(45deg, #1e9928 25%, transparent 25%, transparent 75%, #1e9928 75%, #1e9928),
              linear-gradient(45deg, #1e9928 25%, transparent 25%, transparent 75%, #1e9928 75%, #1e9928);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-color: #1a7a1f;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #3f3e3e;
  /* background: #1e9928; */
  color: white;
}

.header__brand {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.header__brand h1 {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

.header__brand p {
  margin: 0.25rem 0 0;
  color: #b5b5b5;
  font-size: 0.95rem;
}

.header__nav {
  display: flex;
  gap: 1rem;
}

.header__nav a {
  color: white;
  text-decoration: none;
  transition:transform 0.2s ease;
}

.header__nav a:hover {
  transform: scale(1.05);
  color: #48627c;
  
}